<?xml version='1.0' encoding='utf-8'?>
<widget id="com.MSR.Klinikkurt" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>KlinikKurt</name>
	<description>Äntligen kan du fylla i KlinikKurt och VårdcentralKurt direkt från din telefon - Enklare, snabbare, smidigare, snyggare!

		Denna app är endast för studenter på Läkarprogrammet vid Uppsala Universitet.

		KlinikKurt är en särskild utvärdering av klinisk handledning på Uppsalas läkarutbildning. Utvärderingen består av tio frågor som fylls i efter avslutad klinisk placering, såväl på Akademiska sjukhuset som på sjukhus i regionen.

		VårdcentralKurt utvärderar på liknande sätt vårdcentralplaceringarna. I slutet av varje termin sammanställs resultaten och mynnar för klinikerna i Uppsala ut i en prestigefylld kliniktävling där både ära och en viss summa pengar står på spel.

		Alla som fyller i KlinikKurt eller VårdcentralKurt hjälper till att göra läkarutbildningen bättre, dessutom har du chans att vinna i lotteriet med ett pass med anestesihelikoptern som första pris!</description>
	<author email="it-bevakare@msr.studorg.uu.se" href="http://www.studieradet.se">Medicinska Studierådet Uppsala</author>
	<preference name="permissions" value="none" />
	<preference name="orientation" value="default" />
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="true" />
	<preference name="webviewbounce" value="true" />
	<preference name="prerendered-icon" value="true" />
	<preference name="stay-in-webview" value="false" />
	<preference name="ios-statusbarstyle" value="black-opaque" />
	<preference name="detect-data-types" value="true" />
	<preference name="exit-on-suspend" value="false" />
	<preference name="show-splash-screen-spinner" value="true" />
	<preference name="auto-hide-splash-screen" value="true" />
	<preference name="disable-cursor" value="false" />
	<preference name="android-minSdkVersion" value="7" />
	<preference name="android-installLocation" value="auto" />
	<preference name="SplashScreen" value="screen" />
	<preference name="SplashScreenDelay" value="10000" />
   
   
	<content src="index.html" />
	<access origin="*" />
</widget>
